<h1>Modifier un Produit</h1>

<!-- <form [formGroup]="editProductForm" (ngSubmit)="onSubmit()"> -->
  <form [formGroup]="editProductForm">

  <mat-form-field appearance="fill">
    <mat-label>Nom</mat-label>
    <input matInput formControlName="title">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Description courte</mat-label>
    <input matInput formControlName="small_description">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Description longue</mat-label>
    <input matInput formControlName="long_description">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Prix</mat-label>
    <input matInput formControlName="price" type="number">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Pitch</mat-label>
    <input matInput formControlName="pitch">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Feature 1</mat-label>
    <input matInput formControlName="feature1">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Feature 2</mat-label>
    <input matInput formControlName="feature2">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Feature 3</mat-label>
    <input matInput formControlName="feature3">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Image</mat-label>
    <input matInput formControlName="image">
  </mat-form-field>

  <div class="dialog-actions">
    <button mat-button (click)="onCancel()">Annuler</button>
    <button mat-button [disabled]="!editProductForm.valid" (click)="onSubmit()">Modifier</button>
  </div>
</form>