 <div class="containerProductCard">
    <!-- <a routerLink="/product-details/{{product?.id}}"></a> -->

    <img src="{{ product.image}}" alt="Image de tomate {{ product.title }}">

    <h3> {{ product.title }}</h3>

    <div class="detailPriceFlex">
        <p class="p1">{{ product.small_description }}</p>
        <div class="priceP"><p class="p2">{{ product.price }} €</p></div>
    </div>

    <app-button class="discoverBtn" routerLink="/product-details/{{product.id}}" [text]="'Découvrir'"></app-button>

</div>
