<h1>Créer un compte</h1>

<div class="signupForm">
    <form (ngSubmit)="signup()">
        <input type="name" [(ngModel)]="name" name="name" placeholder="Nom utilisateur" required>
        <input type="email" [(ngModel)]="email" name="email" placeholder="Email" required>
        <input type="password" [(ngModel)]="password" name="password" placeholder="Mot de passe" required>
        <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" placeholder="Confirmer le mot de passe" required>
        <app-button type="submit" [text]="'Créer le compte'"></app-button>
    </form>
</div>

<p>Déjà un utilisateur ? <a href="/login">Se connecter</a></p>

<p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>