h1, h2 {
    color: var(--color-title);
    font-weight: bold;
    font-style: italic;
}

h1 {
    text-align: center;
    margin: 30px 10%;
    /* font-size: clamp(24px, 2vw, 48px); */
}

p {
    font-size: clamp(14px, 2vw, 18px);
    font-weight: 400;
    text-align: center;
    margin: 20px 5%;
    /* padding: 10% 5% 0; */
    /* border: 1px solid blue; */
}

.signupForm {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px 30px ;
  }
  
  .signupForm input {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    box-sizing: border-box;
  }