<div class="admin-dashboard">
    <h1>Profile utilisateur</h1>
    
    <section class="content">
      
      <div class="flexTitle">
          <h2>Informations adresse de livraison</h2>
          <button class="btn btn-add" ><span class="material-icons md-48">add</span><span class="tooltip-text">Ajouter une adresse</span></button>
          <button class="btn btn-edit" ><span class="material-icons md-48">edit</span><span class="tooltip-text">Modifier</span></button>
        <button class="btn btn-delete" ><span class="material-icons md-48" >delete</span><span class="tooltip-text">Supprimer</span></button> 
      </div>
      
      <div class="table-responsive">
        <table class="table">
      
      <thead>
      <tr>
        <!-- <th class="th-id">ID</th> -->
        <th>Nom</th>
        <th>Prénom</th>
        <th>Numéro rue</th>
        <th>Nom de rue</th>
        <th>Détails</th>
        <th>Code postal</th>
        <th>Ville</th>
        <th>Pays</th>
      </tr>
      </thead>
      
      <tbody>
      <tr *ngFor="let item of addresses">
        <td>{{ item.id }}</td>
        <td>{{ item.familyname }}</td>
        <td>{{ item.firstname }}</td>
        <td>{{ item.streetnbr }}</td>
        <td>{{ item.streetname }}</td>
        <td>{{ item.details }}</td>
        <td>{{ item.postalcode }}</td>
        <td>{{ item.city }}</td>
        <td>{{ item.country }}</td>
        
        
        
        
      </tr>
  </tbody>
  </table>
  </div>
  </section>
  </div>